.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  /* Animation */
  transition-timing-function: ease-in;
  transition: all 0.5s;

}

.nav_black {
  background-color: #111;
}

.title1{
  color: white;
  position: fixed;
  top: 24px;
  left: 250px;
  width: 36px;
  object-fit: contain;
}

.title2{
  color: white;
  position: fixed;
  top: 24px;
  left: 330px;
  width: 36px;
  object-fit:contain;
  
}

.title3{
  color: white;
  position: fixed;
  top: 24px;
  left: 410px;
  width: 36px;
  object-fit: contain;
}

.title4{
  color: white;
  position: fixed;
  top: 24px;
  left: 490px;
  width: 36px;
  object-fit: contain;
}




.logodesign{
  top: 17px;
  right: 20px;
  width: 36px;
  object-fit: contain;}

.nav_logo {
  position: fixed;
  top: 22px;
  left: 20px;
  width: 180px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  top: 17px;
  right: 20px;
  width: 36px;
  object-fit: contain;
}